<!-- These are the scripts that will be placed just before the closing body tag on every page. -->

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- Snipcart  -->
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZDBjZjI3YTktMjVjOS00ZTdjLTlhYmUtOTVmYjI0MzE5NjIzNjM2MTY3ODM2MjkyODIzNDYx"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- <script src="js/smooth-scrolling.js"></script> -->
<!-- This is your file with custom javascript or jquery -->
<script src="/js/main.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
