<h2> <img src="/images/marketing-logo.png" alt="Marketing Logo"> </h2>

<nav class="mob-nav">
  <a href="/index"> Home </a>
  <a href="/about"> About </a>
  <a href="/events"> Events </a>
  <a href="/shop"> Membership </a>
  <a href="/shop"> Committee 2017 </a>
  <a href="/shop"> Gallery </a>
  <a href="/shop"> Contact </a>
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="https://www.facebook.com/MonashMarketingStudentsSociety/?fref=ts"> <i class="fa fa-facebook"></i> </a>
  <a href="https://www.instagram.com/themmss/"> <i class="fa fa-instagram"></i> </a>
  <a href="fa fa-instagram"> <i class="fa fa-linkedin"></i> </a>
</nav>
