<header class="grid-middle">
  <div class="col-4_sm-12 grid-middle">
    <a href="index.html">
    <img class="logo" src="/images/mmss-logo.png" alt="MMSS"> </a>
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="https://www.facebook.com/MonashMarketingStudentsSociety/?fref=ts"> <i class="fa fa-facebook"></i> </a>
      <a href="https://www.instagram.com/themmss/"> <i class="fa fa-instagram"> </i></a>
      <a href="https://www.linkedin.com/company-beta/2221497/"> <i class="fa fa-linkedin"></i></a>
    </nav>
  </div>

  <div class="col-8_sm-12 mob-hide">
    <nav class="right">
      <a href="/index.html"> Home </a>
      <a href="/about"> About </a>
      <a href="/events"> Events </a>
      <a href="/membership"> Membership </a>
      <a href="/committee"> Committee 2017</a>
      <a href="/gallery"> Gallery</a>
      <a href="/contact-new">Contact</a>
    </nav>
  </div>
</header>
